<header class="header-content">
  <div  class="logo-codez1">
    <a href="{{site.baseurl}}/">
      <figure>
        <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/static/blog/images/google.a51985becaa6.png" />
      </figure>
    </a>
  </div>

  <div class="header-submenu">
    <a href="{{site.baseurl}}/" class="logo-cz">
      <figure>
        <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/static/blog/images/google-g-logo.f1b9149be2ab.svg" width="25px" />
      </figure>
    </a>

    <nav>
      <a href="{{site.baseurl}}/" class="menu-link"> {{site.title}} </a>
      <a href="#Blog"class="menu-link"> Blog </a>
      <a href="#Contact" class="menu-link"> Contact </a>
    </nav>
  </div>
</header>