<header class="cz-header-content">
  <div class="cz-header-wrapper">
    <div  class="cz-logo-codez1">
      <a href="{{site.baseurl}}/">
        <figure>
          <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/static/blog/images/google.a51985becaa6.png" />
        </figure>
      </a>
    </div>

    <div class="cz-header-submenu">
      <a href="{{site.baseurl}}/" class="logo-cz">
        <figure>
          <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/static/blog/images/google-g-logo.f1b9149be2ab.svg" width="25px" />
        </figure>
      </a>

      <nav>
        <a href="{{site.baseurl}}/" class="cz-menu-link"> {{site.title}} </a>
        <a href="#Blog"class="cz-menu-link"> Blog </a>
        <a href="#Contact" class="cz-menu-link"> Contact </a>
      </nav>
    </div>
  </div>
</header>